*{
	padding:0px;
	margin:0px;
	font-family: 'Montserrat', sans-serif;
}
#header{
	background:#6900d1;
}
.navbar{
	padding-top:20px !important;
}
.nav-item{
	padding-left:40px !important;
	margin-bottom:10px !important;
}   
.nav-link{
	color: #fff !important;
   font-size:20px !important;
    padding:0 0 5px 0 !important;
    display:unset !important;
}   
.navbar-brand img{
	width:130px !important;
	margin:0px !important;
	padding:0px !important;
	color:white !important
}
.fa-bars{
	
	font-size:40px !important;
    color: #fff !important;
} 

.navbar-toggler{
	border:0px !important;
	outline:none!important;
	padding:inital!important;
}
.Active-home{
	border-bottom:2px solid #fff !important;
}
.nav-link:hover{
	border-bottom:2px solid #fff !important;
}
.bannar{
	margin-top:8%  !important;
	color:#fff  !important;
}

.bannar h1{
	 margin:80px 0 50px;
	font-weight: 600;
	font-size:50px;
}
.bannar img{
	max-height:500px;
}
.bannar a{
	padding:12px;
    width:150px;
	display:inline-block !important;
	text-decoration:none!important;
	color:#fff;
	border:2px solid #fff !important;
	border-radius:5px !important;
	text-align:center !important;
	margin-top:30px !important;
}
.bannar a:hover{
                color:red !important;
}
.explan-btn{
	background:#fff !important;
	color:#000!important;
}





.top-marqueetaq{
	display:inline-block;
}

/*--------services------------*/

.services{
	margin:150px!important;
	text-align:center;
	background:#EFF2F3 !important;
	padding-top:50px;
	margin-top:50px;

}
.title{
	text-align:center !important;
	font-weight:bold !important;
	margin-bottom:30px !important;
	

}
.suptitle{
	text-align:center !important;
	font-size:25px;
	margin-bottom:25px !important;

}
.ServicesBoxs{
	padding:35px  !important;
	cursor: pointer;
    margin-bottom:10px;
	transition:0.4s;
	height:400px;
	
}
.ServicesBoxs img{
	width:65px !important;
	margin-top:65 px !important;
	margin-bottom:40px !important;

	
}
.ServicesBoxs h4{
	margin-bottom:40px !important;
	font-weight:bold;
}
..ServicesBoxs p{
	font-size:14px !important;
	color:#808080;
}
fa-arrow-right{
	font-size:22px !important;
	margin-top:30px !important;
	margin-bottom:35px !important;
	cursor:pointer !important;
}
.ServicesBoxs:hover{
	         background:#6900d1; 
	         border-radius:5px;
	        color:#fff!important;
	        box-shadow:0 15px 15px 2px rgba(213,213,213,1.5); 
			
}
.tmarquee-title{
	background:#c71829;
	color:#fff;
	margin:none;
	padding-left:2px;	
	border-radius:5px;
	
}

.marquee-mainnews{
	color:red;
	
	
	
}






.marquee-mainnews{
	
	
	
}




/*---------------------------feature----------------------*/


.feature,.exprolar{
	margin:150px!important;
	
}

	
.feature img{
	max-width:70% !important;
	cursor:ponter;
}
.feature h2{
	margin-top:5px !important;
	font-weight:bold;
	line-height:30px;
}
 .feature p,.exprolar p{
	margin-top:50px !important;
	font-weight:bold !important;
	line-height: 20px  !important;
	margin-bottom:30px !important;
}

.feature a,.exprolar a{
	width:170px !important;
	padding:15px 10px !important;
	display: block !important;
	font-weight:blod !important;
	background:#6900d1 !important;
	text-align:center !important;
	color:#fff !important;
	border-radius:5px !important;
	text-decoration:none  !important;
	box-shadow:0 9px 10px 1px rgba(204,202,204,0.5);

}
.feature a:hover {
	color:#000 !important;
	
}







.exprolarh2{
	margin-top:40px!important;
	font-weight:bold;
	line-height:30px;
}

.exprolar img{
	max-width:100% !important;
	cursor:ponter;
	margin-left:50px;
}

/*---------------------------review----------------------*/

.review{
	margin:100px 0;
	margin-bottom:100px;
	
}
.carousel-item img{
	width:150px;
	height:150px;
	border-radius:100px;
}
.carousel-item {
	height:430px;
	text-align:center;

}
.carousel-caption{
	z-index:-1 !important;
	box-shadow: 0 0 15px 1px rgba(166,163,223,0.5);
	border-radius:20px;
	border-bottom:20px;

}
.carousel-caption h5{
	font-size:30px;
	margin:50px 0;
	font-weight:blod;
	color:#000;
	background:#EFF2F3 !important;
	
}
.carousel-item p{
	margin-right:70px;
    display:block;
	font-size:14px;
	padding-left:20px;
	color:red;
	margin-bottom:10px;
}
.carousel-item small{
	
	margin-right:70px;
    display:block;
	font-size:15px;
	padding-left:20px;
	color:blue;
	margin:100px;
	
}








/*------------inner-------------*/



.inner{
	background:#EFF2F3 !important;
	height:500px;
}

